
<strong>管理者メニュー</strong>
<div class="wrap">
	<ul>
		<li>商品管理</li>
		<li>┣<%= link_to " 商品一覧", manage_items_path %></li>
		<li>┗<%=link_to " 商品登録", new_manage_item_path %></li>
		<li></li>
		<li>ユーザー管理</li>
		<li>┗<a href="#"> ユーザー一覧</a></li>
		<li></li>
		<li>注文管理</li>
		<li>┗<a href="#"> 注文管理</a></li>
	</ul>
</div>